body {
  background: #f5f4ee;
  font-family: Arial, Helvetica, sans-serif, Tahoma;
  text-align: center;
  display:
 }
.logo {
  width: 50%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
 }
.topnav {
  background-color: #9aa583;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
}
.topnav a {
  float: left;
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6a7555;
  color: white;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: black;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  width: 80%;
  display: inline-block;
  margin: 24px 0px 24px 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.profile-pic {
  max-width: 100%;
}
.img-col {
  flex-basis: 40%;
}
.text-col {
  flex-basis: 40%;
  background-color: #9aa58394;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100%;
}
.about-me-pic {
  display: inline-block;  
  width: 60%;
  height: auto;
}
.text-box {
  display:inline-block;
  background-color: #9aa58394;
  font-size: 20px;
  width: 60%;
  padding: 10px;
  align-items: center;
  margin-bottom: 50px;
}

p, li {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  color: black;
  text-align: center;
  font-size: 20px;
}
li {
  list-style-position: inside;
  text-align: left;
}
.code-box {
  background-color: #f5f4ee;
  width:60%;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}
.code-box p {
  text-align: left;
  margin: 0px;
}
#indent {
  margin-left: 20%;
}
.footer-image {
  width: 100%
}
img {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }
  .container {
    display:list-item;
  }
  .logo {
    width: 100%;
  }
  h3 {
    font-size: 15px;
  }
}

