body {
  background: rgb(53, 118, 175) ;
  font-family: Arial, Helvetica, sans-serif, Tahoma;
  font-size: 2em;
  text-align: center;
}
header {
  text-align: left;
}
.temata-peak {
  background-image: url ('https://raw.githubusercontent.com/erin-tahau/erin-tahau.github.io/main/Te%20Mata%20Peak.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1 {
  font-family: Arial, Helvetica, sans-serif, Tahoma;
  font-size: 4em; 
  color: rgb(255 224 110);
  margin: 50px 0 10px 50px;
  text-align: left;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: rgb(255 224 110);
  text-align: center;
}
figcaption {
  color:rgb(245 255 254);
  font-size: 15pt;
}
p, ul {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  color:rgb(245 255 254);
  text-align: center;
}
ul {
    color: rgb(245 255 254);
    height: 172px;
    width: 500px;
    padding-left: 100pt; 
}
#left-align {
  text-align: left;
}
.menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: rgb(17 28 82);
  text-align: left;
}
#list-of-likes {
  border: 10px solid rgb(255 224 110);
  margin: 100px;
}