body {
  background: #f5f4ee;
  font-family: Arial, Helvetica, sans-serif, Tahoma;
  text-align: center;
 }
.logo {
  width: 50%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
 }
.topnav {
  background-color: #9aa583;
  overflow: hidden;
  width: 100%;
}
.topnav a {
  float: left;
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6a7555;
  color: white;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-left: 20px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  width: 80%;
  display: inline-flex;
}
#box-model {
  width: 50%;
}
.text-box {
  display:inline-block;
  background-color: #9aa58394;
  font-size: 20px;
  width: 80%;
  padding: 10px;
  align-items: center;
  margin-bottom: 50px;
}
#beach-side {
  width: 185;
}
.frame-only {
  border: 20px solid #795548;
}
.frame-mat {
  border: 20px solid #795548;
  padding: 20px;
  background: white;
}
.finished-pic {
  border: 20px solid #795548;
  padding: 20px;
  margin: 20px 50px 20px 50px;
  background: white;
}
.code-pic {
  width:40%;
}
#colored-text {
    color:#39462f ;
}
.footer-image {
  width: 100%
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }
  .code-pic {
    width: 100%;
  }
  .finished-pic {
    width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  .logo {
    width: 100%;
  }
  .code-pic {
    width: 100%;
  }
  .finished-pic {
    width: 40%;
  }
  #box-model {
    width: 100%;
  }
  h2, h3 {
    font-size: 20px;
  }
}