body {
  background: rgb(53, 118, 175) ;
  font-family: Arial, Helvetica, sans-serif, Tahoma;
  font-size: 2em;
  text-align: center;
}
h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: rgb(255 224 110);
  text-align: center;
}
img {
  
}